<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all Drinks</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="menu">
        <label for="drinkName">Choose a Drink:</label>
        <form action="/drinks" method="post">
            <select name="drinkName" id="drinkName">
                <option value="" disabled selected>Select a drink</option>
                <% for(let drink of drinks) { %>
                    <option value="<%= drink.drinkName %>">
                        <%= drink.drinkName %>
                    </option>
                    <% } %>
            </select>
            <button class="add">Add Drink</button>
        </form>
    </div>

    <div class="cart">
        <h2>Your Items Cart</h2>
        <div class="card-container">
            <% for(let item of cart ){ %>
                <div class="card">
                    <img src="/assets/<%= item.drinkName.replace(/\s/g, '') %>.jpg" alt="<%=item.drinkName %> Image">
                    <p><strong>
                            <%= item.drinkName %>
                        </strong></p>
                    <p>Price : ₹<%= item.price %>
                    </p>

                  <div class="form-buttons">
                      <form action="drinks/<%= item.id %>" method="GET">
                        <button class="custom-btn">View details</button>
                    </form>
                    <form action="drinks/<%= item.id %>?_method=DELETE" method="post">
                       
                        <button class="custom-btn">Delete</button>
                    </form>
                  </div>
                </div>
                <% } %>

        </div>
    </div>
    <footer
    style="text-align: center;background-color: #f5f5f5; color: #555; margin-top: 2rem; font-size: 0.9rem;">
    <p>Project "<strong>SipSavvy</strong>" created by <strong>Mrunalini Pachpute</strong></p>
</footer>
</body>


</html>